.git
.gitignore
mysql/
docker/mysql/
README.md
DEPLOY.md
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.backup
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/public/build
backend/public/hot
backend/public/storage
backend/database/database.sqlite
**/.DS_Store
